
.navbar{
  background-color: #0e141e;
  color:#1ba94c;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}
.navbar h1{
  font-weight: 500;
  margin-left: 25px;
}


@media (max-width: 320px){
  .navbar h1{
    margin-left: 15px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 270px){
  .navbar h1{
    margin-left: 5px;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
  }
}