
.navbar{
  background-color: #0e141e;
  color:#1ba94c;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar h1{
  font-weight: 500;
  margin-left: 25px;
}